.summary-container {
  display: flex;
  gap: 24px;
  margin-top: 24px;
  flex-wrap: wrap;
}

.summary-card {
  flex: 1;
  min-width: 250px;
  padding: 24px;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  border: 1px solid #e5e7eb;
  background-color: #ffffff;
  text-align: left;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.summary-title {
  font-size: 18px;
  color: #1e293b;
  margin-bottom: 16px;
  font-weight: 600;
}

.summary-value {
  font-size: 36px;
  font-weight: 700;
  color: #0f172a;
  margin-bottom: 8px;
}

.summary-value .sub {
  font-size: 18px;
  color: #64748b;
  font-weight: normal;
  margin-left: 8px;
}

.summary-sub {
  font-size: 16px;
  color: #64748b;
  font-weight: 500;
}

.chart-wrapper {
  display: flex;
  gap: 24px;
  margin-top: 24px;
  flex-wrap: wrap;
}

.card {
  flex: 1;
  min-width: 250px;
  border: 1px solid #e5e7eb;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  padding: 24px;
  background-color: white;
}

.card-body {
  display: flex;
  flex-direction: column;
}

.card p {
  font-size: 18px;
  font-weight: 600;
  color: #1e293b;
  margin-top: 16px;
}
